<!DOCTYPE html>
<html ng-app="item_lister">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/item.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <ul class="nav nav-pills">
                <li role="presentation"><a class="navbar-brand" href="#">
                  <img alt="Brand"></a>
                </li>
                <li role="presentation"><a href="#">Funds: {{ funds }}</a></li>
                <li role="presentation"><a href="#">Comments </a></li>
                <!--dropdwon navbar  -->
                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Items <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    ...
                  </ul>
                </li>
              </ul>
            </div>
            <ul class="navbar-right nav navbar">
              <li role="presentiation"><a href="#"> Login</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="text-center">
          <p class="well" id="itemhub">ITEMHUB</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          hi
        </div>
        <div class="col-md-3 col-md-offset-1">
          hi
        </div>
        <div class="col-md-3 col-md-offset-1">
          hi
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-2.2.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/item.js"></script>
  </body>
</html>
