<!DOCTYPE html>
<html ng-app="item_lister">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-8">
          <table>
            <th>
              Account
              <button class="btn" type="button" name="button">x</button>
            </th>
            <tr>
              <td> Login</td>
              <td>  Username</td>
              <td>  Password</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-2.2.2.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../public/js/item.js"></script>
  </body>
</html>
